@charset "UTF-8";
/* CSS Document */


body{
	background: white;
}

#error {
    opacity: 0;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 10px;
    border: 4px solid rgba(255, 0, 0, 0.4);
    line-height:1.5;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}

.introText{
	color: black;
	display: block;
	text-align: center;
	margin: 150px auto 0px auto;
}

h1, h2{
	font-family: "Gill Sans", Gill Sans MT, "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", sans-serif;
	margin: 0 auto;
}

.easyhtml5video{
	position: absolute;
    top: 50%;
    left: 50%;
    margin: 100px 0 0 -240px;
}


@media (max-width: 1200px){
}

@media (min-width: 400px){
}
