@charset "UTF-8";
/* CSS Document */


body{
	background: black;
}

h1 
h2{
	font-color: white;
}

.easyhtml5video{
	position: absolute;
    top: 50%;
    left: 50%;
    margin: 180px 0 0 -240px;
}


@media (max-width: 1200px){
}

@media (min-width: 400px){
}
